* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.nav-bar {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-box {
    color: #333;
    padding: 0 10px;
}

.label {
    font-size: large;
}

.text {
    font-size: smaller;
}

.img-box img {
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
}

.icons {
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ul-content li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-content li a {
    width: 100%;
    padding: 20px;
    margin: 20px 0 0;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (max-width: 600px) {
    .box {
        display: block;
        padding: 0 1rem;
    }

    .content {
        padding: 1rem;
    }

}